{% extends 'layout.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
    <h1>{{ title }}</h1>
    <p>{% autoescape off %}{{ cal }}{% endautoescape %}</p>
{% endblock content %}
