{% extends "layout.html" %}

{% block title %}Displaying Model Data{% endblock title %}

  {% block content %}
    <h1>All Stories in Database</h1>
    <ul>
      {% for story in stories %}
        <!-- <li>{{ story.id }}</li> -->
        <li>{{ story.headline }}</li>
        <li>{{ story.category }}</li>
        <li>{{ story.region }}</li>
        <li>{{ story.author }}</li>
        <li>{{ story.date }}</li>
        <li>{{ story.details }}</li>
     {% endfor %}
   </ul>
  {% endblock content %}
